# Wails
build/bin/
frontend/dist/
frontend/wailsjs/

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
go.work
go.work.sum

# Frontend
node_modules/
.DS_Store
*.local
dist-ssr
*.nz
.env
.env.*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# development
.doc

# RadiantCL1 Binaries (Jujutsu)
!backend/protocols/bin/
!backend/protocols/bin/**